version: '3'
services:
  mongo:
    image: mongo
    container_name: mongodb
    ports:
      - "37017:27017"
  spark-master:
    build: emr/docker/spark/master
    container_name: spark-master
    depends_on:
      - mongo
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
  spark-worker-1:
    image: emr/docker/spark/worker
    container_name: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
  zeppelin:
    image: apache/zeppelin:0.9.0
    container_name: zeppelin
    depends_on:
      - spark-master
    ports:
      - "8083:8080"
    environment:
      - "MASTER=spark://spark-master:7077"
      - "SPARK_MASTER=spark://spark-master:7077"
      - "SPARK_HOME=/zeppelin/spark"
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9999:9999"
    volumes:
      - ./storage/minio:/data
    environment:
      MINIO_ACCESS_KEY: minio_username
      MINIO_SECRET_KEY: minio_password
    command: server --address :9999 /data
